In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [9]:
jan_df = pd.read_csv(Path("JC-202301-citibike-tripdata.csv"))
jan_df.dropna(how='any', inplace=True)
jan_df.info()
jan_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55873 entries, 0 to 56074
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             55873 non-null  object
 1   rideable_type       55873 non-null  object
 2   started_at          55873 non-null  object
 3   ended_at            55873 non-null  object
 4   start_station_name  55873 non-null  object
 5   start_station_id    55873 non-null  object
 6   end_station_name    55873 non-null  object
 7   end_station_id      55873 non-null  object
 8   start_lat           55873 non-null  float64
 9   start_lng           55873 non-null  float64
 10  end_lat             55873 non-null  float64
 11  end_lng             55873 non-null  float64
 12  member_casual       55873 non-null  object
dtypes: float64(4), object(9)
memory usage: 6.0+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [11]:
feb_df = pd.read_csv(Path("JC-202302-citibike-tripdata.csv"))
feb_df.dropna(how='any', inplace=True)
feb_df.info()
feb_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51069 entries, 0 to 51212
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             51069 non-null  object
 1   rideable_type       51069 non-null  object
 2   started_at          51069 non-null  object
 3   ended_at            51069 non-null  object
 4   start_station_name  51069 non-null  object
 5   start_station_id    51069 non-null  object
 6   end_station_name    51069 non-null  object
 7   end_station_id      51069 non-null  object
 8   start_lat           51069 non-null  float64
 9   start_lng           51069 non-null  float64
 10  end_lat             51069 non-null  float64
 11  end_lng             51069 non-null  float64
 12  member_casual       51069 non-null  object
dtypes: float64(4), object(9)
memory usage: 5.5+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,557150C42CBD584B,classic_bike,2023-02-16 18:05:38,2023-02-16 18:13:47,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743190,-74.040126,40.736982,-74.027781,member
1,9F1B2C0BCD476C66,classic_bike,2023-02-15 19:20:33,2023-02-15 19:27:06,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743222,-74.040081,40.736982,-74.027781,member
2,4A4A29A7C1B54278,classic_bike,2023-02-18 14:58:16,2023-02-18 15:06:15,Mama Johnson Field - 4 St & Jackson St,HB404,12 St & Sinatra Dr N,HB201,40.743140,-74.040041,40.750604,-74.024020,casual
3,BBF4E1D39D41D78C,classic_bike,2023-02-24 15:16:12,2023-02-24 15:24:17,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743187,-74.040179,40.743140,-74.040041,member
4,3CECAA17C4ABBF30,classic_bike,2023-02-16 18:05:02,2023-02-16 18:05:04,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743172,-74.040054,40.743140,-74.040041,member

In [12]:
mar_df = pd.read_csv(Path("JC-202303-citibike-tripdata.csv"))
mar_df.dropna(how='any', inplace=True)
mar_df.info()
mar_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62867 entries, 0 to 63071
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             62867 non-null  object
 1   rideable_type       62867 non-null  object
 2   started_at          62867 non-null  object
 3   ended_at            62867 non-null  object
 4   start_station_name  62867 non-null  object
 5   start_station_id    62867 non-null  object
 6   end_station_name    62867 non-null  object
 7   end_station_id      62867 non-null  object
 8   start_lat           62867 non-null  float64
 9   start_lng           62867 non-null  float64
 10  end_lat             62867 non-null  float64
 11  end_lng             62867 non-null  float64
 12  member_casual       62867 non-null  object
dtypes: float64(4), object(9)
memory usage: 6.7+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:57,2023-03-25 09:32:10,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:41,2023-03-15 08:07:44,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:11,2023-03-20 09:00:37,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:07,2023-03-02 10:27:22,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:23,2023-03-04 09:25:30,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member

In [13]:
apr_df = pd.read_csv(Path("JC-202304-citibike-tripdata.csv"))
apr_df.dropna(how='any', inplace=True)
apr_df.info()
apr_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80474 entries, 0 to 80687
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             80474 non-null  object
 1   rideable_type       80474 non-null  object
 2   started_at          80474 non-null  object
 3   ended_at            80474 non-null  object
 4   start_station_name  80474 non-null  object
 5   start_station_id    80474 non-null  object
 6   end_station_name    80474 non-null  object
 7   end_station_id      80474 non-null  object
 8   start_lat           80474 non-null  float64
 9   start_lng           80474 non-null  float64
 10  end_lat             80474 non-null  float64
 11  end_lng             80474 non-null  float64
 12  member_casual       80474 non-null  object
dtypes: float64(4), object(9)
memory usage: 8.6+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,59B1078FC3455D5B,electric_bike,2023-04-02 14:50:55,2023-04-02 15:01:24,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,member
1,84365D599B6E002E,electric_bike,2023-04-15 21:08:54,2023-04-16 10:54:44,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,casual
2,A4F033EAA7810781,classic_bike,2023-04-17 10:35:11,2023-04-17 10:37:53,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
3,E9051DFD91E516BF,classic_bike,2023-04-07 12:19:31,2023-04-07 12:21:52,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
4,0F6D86AEC1B29205,classic_bike,2023-04-07 12:28:21,2023-04-07 12:30:23,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member

In [14]:
may_df = pd.read_csv(Path("JC-202305-citibike-tripdata.csv"))
may_df.dropna(how='any', inplace=True)
may_df.info()
may_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95736 entries, 0 to 96001
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             95736 non-null  object
 1   rideable_type       95736 non-null  object
 2   started_at          95736 non-null  object
 3   ended_at            95736 non-null  object
 4   start_station_name  95736 non-null  object
 5   start_station_id    95736 non-null  object
 6   end_station_name    95736 non-null  object
 7   end_station_id      95736 non-null  object
 8   start_lat           95736 non-null  float64
 9   start_lng           95736 non-null  float64
 10  end_lat             95736 non-null  float64
 11  end_lng             95736 non-null  float64
 12  member_casual       95736 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.2+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BC145343639B5E5B,classic_bike,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member
1,A0CE41F47514FF5C,classic_bike,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual
2,D588077E3D7E2AFD,electric_bike,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual
3,89AC48A5584B2DB4,classic_bike,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member
4,709E0B11AB4A0E6C,classic_bike,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member

In [15]:
jun_df = pd.read_csv(Path("JC-202306-citibike-tripdata.csv"))
jun_df.dropna(how='any', inplace=True)
jun_df.info()
jun_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96662 entries, 0 to 97022
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             96662 non-null  object
 1   rideable_type       96662 non-null  object
 2   started_at          96662 non-null  object
 3   ended_at            96662 non-null  object
 4   start_station_name  96662 non-null  object
 5   start_station_id    96662 non-null  object
 6   end_station_name    96662 non-null  object
 7   end_station_id      96662 non-null  object
 8   start_lat           96662 non-null  float64
 9   start_lng           96662 non-null  float64
 10  end_lat             96662 non-null  float64
 11  end_lng             96662 non-null  float64
 12  member_casual       96662 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.3+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member

In [16]:
july_df = pd.read_csv(Path("JC-202307-citibike-tripdata.csv"))
july_df.dropna(how='any', inplace=True)
july_df.info()
july_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106216 entries, 0 to 106607
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             106216 non-null  object
 1   rideable_type       106216 non-null  object
 2   started_at          106216 non-null  object
 3   ended_at            106216 non-null  object
 4   start_station_name  106216 non-null  object
 5   start_station_id    106216 non-null  object
 6   end_station_name    106216 non-null  object
 7   end_station_id      106216 non-null  object
 8   start_lat           106216 non-null  float64
 9   start_lng           106216 non-null  float64
 10  end_lat             106216 non-null  float64
 11  end_lng             106216 non-null  float64
 12  member_casual       106216 non-null  object
dtypes: float64(4), object(9)
memory usage: 11.3+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7A68381621C25F78,classic_bike,2023-07-17 17:16:34,2023-07-17 17:20:52,Astor Place,JC077,Communipaw & Berry Lane,JC084,40.719225,-74.071281,40.714358,-74.066611,member
1,0F814CA67B2FA120,classic_bike,2023-07-26 19:40:15,2023-07-26 19:44:37,Adams St & 2 St,HB407,9 St HBLR - Jackson St & 8 St,HB305,40.739727,-74.036866,40.747907,-74.038412,member
2,775A38967EBF5FB4,electric_bike,2023-07-01 12:12:22,2023-07-01 12:27:45,McGinley Square,JC055,Riverview Park,JC057,40.725340,-74.067622,40.744319,-74.043991,member
3,D93B742DCE1C1447,classic_bike,2023-07-20 19:10:18,2023-07-20 19:17:22,Baldwin at Montgomery,JC020,Brunswick St,JC023,40.723455,-74.064359,40.724176,-74.050656,member
4,AA7A6863B4B92169,electric_bike,2023-07-07 19:33:59,2023-07-07 19:58:17,Baldwin at Montgomery,JC020,Mama Johnson Field - 4 St & Jackson St,HB404,40.723659,-74.064194,40.743140,-74.040041,casual

In [17]:
citi_bike_df = jan_df.append(feb_df).append(mar_df).append(apr_df).append(may_df).append(jun_df).append(july_df)
citi_bike_df.info()
citi_bike_df.head()

C:\Users\phuon\AppData\Local\Temp\ipykernel_18872\3322929414.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  citi_bike_df = jan_df.append(feb_df).append(mar_df).append(apr_df).append(may_df).append(jun_df).append(july_df)
C:\Users\phuon\AppData\Local\Temp\ipykernel_18872\3322929414.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  citi_bike_df = jan_df.append(feb_df).append(mar_df).append(apr_df).append(may_df).append(jun_df).append(july_df)
C:\Users\phuon\AppData\Local\Temp\ipykernel_18872\3322929414.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  citi_bike_df = jan_df.append(feb_df).append(mar_df).append(apr_df).append(may_df).append(jun_df).append(july_df)
C:\Users\phuon\AppData\Local\Temp\ipykernel_18872\3322929414.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  citi_bike_df = jan_df.append(feb_df).append(mar_df).append(apr_df).append(may_df).append(jun_df).append(july_df)
C:\Users\phuon\AppData\Local\Temp\ipykernel_18872\3322929414.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  citi_bike_df = jan_df.append(feb_df).append(mar_df).append(apr_df).append(may_df).append(jun_df).append(july_df)
C:\Users\phuon\AppData\Local\Temp\ipykernel_18872\3322929414.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  citi_bike_df = jan_df.append(feb_df).append(mar_df).append(apr_df).append(may_df).append(jun_df).append(july_df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 548897 entries, 0 to 106607
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             548897 non-null  object
 1   rideable_type       548897 non-null  object
 2   started_at          548897 non-null  object
 3   ended_at            548897 non-null  object
 4   start_station_name  548897 non-null  object
 5   start_station_id    548897 non-null  object
 6   end_station_name    548897 non-null  object
 7   end_station_id      548897 non-null  object
 8   start_lat           548897 non-null  float64
 9   start_lng           548897 non-null  float64
 10  end_lat             548897 non-null  float64
 11  end_lng             548897 non-null  float64
 12  member_casual       548897 non-null  object
dtypes: float64(4), object(9)
memory usage: 58.6+ MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [18]:
citi_bike_df.to_csv("JC-Citi-Bike.csv")